<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TMSConnectionString" connectionString="server=127.0.0.1;user id=root;password=rootPassword*2019;database=tms;SslMode=required" providerName="MySql.Data.MySqlClient" />
    <add name="CMPConnectionString" connectionString="server=159.89.117.198;user id=DevOSHT;password=Snodgr4ss!;database=cmp;SslMode=none" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>